<!DOCTYPE HTML>

<style>
	body {
		background-image: url(<%= asset_path 'various_colors.png' %>);
		background-size: 100%,100%;
	}
</style>

<body>
	<div class = "row">

		<div class="col-sm-4"></div>

		<div class="col-sm-4">
			<h1> Black Ice?</h1>
		</div>	

		<div class="col-sm-4"></div>

	</div>	

</body>

</HTML>	