<!DOCTYPE HTML>

<style>
	body {
		background-image: url(<%= asset_path 'various_colors.png' %>);
		background-size: 100%,100%;
	}

	.center {
		padding: 250px 0;
    	text-align: center;
	}
</style>

<body>
	<div class = "row">

		<div class="col-sm-4"></div>

		<div class="col-sm-4">
			<div class = "center">
				<h1> No Risk for these Conditions</h1>

				<%= button_to "Back to Homepage", action: "back" %>
			</div>
		</div>	

		<div class="col-sm-4"></div>

	</div>	

</body>

</HTML>	